#favIcon {
    fill: crimson;
}

.favIcon {
    fill: lightgray;
}

.favIcon:hover, .fav:hover {
    fill: lightcoral;
}

.fav {
    fill: crimson;
}

.thumb {
    display: inline-block;
    margin: 10px;
}

svg {
    display:inline-block;
}

#favTitle {
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

#favorites {
    background-color: #e9ecef;
}
