body {
    padding: 10px;
}

button{
    margin: 5px;
}

#favIcon {
    fill: crimson;
}

.favIcon {
    fill: lightgray;
}

.favIcon:hover, .fav:hover {
    fill: lightcoral;
}

.fav {
    fill: crimson;
}

h2 {
    display: inline-block;
}

.thumb {
    display: inline-block;
    margin: 10px;
}

svg {
    display:inline-block;
    margin-top: 10px;
}